version: '3.8'

services:
  app:
    image: kapil1831/find_stack:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: find_stack
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    depends_on:
      - db

  db:
    image: postgres:15.3-bookworm
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:  